body {
    background-color:  Lavender;
	font-family: 'Gentium Basic', serif;
  text-align: center;
}

/** HEADER **/

/** ################################**/
/** ################################**/
/** Button language select **/
/** ################################**/
.button {
	position:absolute;
	left:85%;
  display: inline-block;
  border-radius: 4px;
  background-color: #DABDAB;
  border: none;
  color: LightSlateGrey;
  text-align: center;
  font-size: 2vw;
  font-weight:700;
   width: 7vw;
  height: 3vw;
  transition: all 0.5s;
  margin: 1vw;
  box-shadow: 5px 5px 10px 0.1px LightSlateGrey;
}



.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2vw;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 3vw;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


#button_switch, button{
	position:absolute;
	left:1%;
  display: inline-block;
  border-radius: 4px;
  background-color: #DABDAB;
  border: none;
  color: LightSlateGrey;
  text-align: center;
  font-size: 2vw;
  font-weight:700;
   width: auto;
  height: auto;
  margin: 1vw;
  box-shadow: 0.5vw 0.5vw 1vw 0.1vw LightSlateGrey;
}


/** Button language select **/
/** ################################**/
/** ################################**/
/** ################################**/

#title {
	font-family: 'Gentium Basic', serif;
  background-color: LavenderBlush;
  width:90%;
  height:auto;
  margin: auto, 0, auto, 0;
  color: #61122f;
  padding:0px;
  	box-shadow: 5px 5px 10px 0.1px LightSlateGrey;
 border-radius: 0px 0px 2% 2%;
  }

 
  
  #sections {

  background-color: LavenderBlush;
  width:100%;
  height: 25vw;
  padding: 5%;  
   
}

 
h1 { /* Site name */
	font-family: 'Gentium Basic', serif;
  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  text-transform: uppercase;
  margin-top: 3vw;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
   padding-top: 10px;
   font-size: 8vw; /* 1vw = 1% of viewport width */
  }
  
  #title p > span{ /* Manuela Pok */
  border: 0;
  padding:0;
   font-size: 3vw;
        -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-out;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-out;
          transition-delay: 0s;
		  text-align: center;
	     text-shadow: .1vw .1vw .1vw #222;	
}

  
  h2 { /* menu bars - from buttonlist */
	font-family: 'Gentium Basic', serif;
  color: #DABDAB;
  font-size: 5vw;
  text-shadow: .1vw .1vw .1vw #222;
  margin: 0px, 0px, 0px, 0px ;
  padding:0px, 0px, 0px, 0px;
  }
  
  
  
    #instagram, #facebook, #twitter {
  font-size: 3vw;
    color:#61122f;
	margin-left:1vw;
	margin-bottom:0.1vw;
}




#header-nav {
	background-color:LavenderBlush;
	margin:0;
	padding:0;

}


 #collapsable-nav a{ /* Collapsed nav menu text */
    font-size: 1vw;
	width:100%;

	margin:0;
	padding:0;
  }
  
  #collapsable-nav a:hover{ /* Collapsed nav menu text */
  	width:100%;
	background-color:Lavender;
  }
  
  #nav-list a{
	font-family: 'Gentium Basic', serif;
  color: #DABDAB;
  font-size: 3.8vw;
  text-shadow: .1vw .1vw .1vw #222;
  padding: 5px;
  }



/* posizione bottone menu tendina */
.navbar-toggle {
    position: relative;
	bottom:10vw;
	left:0;
    background-color: LavenderBlush;
    background-image: none;
    border-radius: 10px;
	padding: 0.1vw;
	margin: 0.1vw;
}


/* Froma bottone menu tendina */
.navbar-toggle .icon-bar {
  display: list;
  width: 5vw;
  height: .1vw;
  border-radius: 1px;
  padding:0;
  border:0.1vw;
  margin:1vw;
}

  #contenitore_button{
	position: relative;
	bottom:-8vw;
}



.navbar-toggle span{
	height: 1px;
}

.navbar {
	margin-bottom:0px;
	border:0px;
}

.navbar-toggle:hover, .navbar-toggle:focus {
 background-color: LavenderBlush;
}


hr{
	margin: 0;
	padding: 0;
	background-color:Lavender;
	height:2px;
	width: 100%;
	position: relative;
	left:0%;
}

ul{
	width: 100%;
	padding:0;
	margin:0;
	border:0;
	position:relative;
	left:15px;
}

#divider{
	color: #61122f;
	  font-size: 1.2vw;
}

  h3 { /* menu */
	font-family: 'Gentium Basic', serif;
  font-size: 2vw;
  font-weight: bold;
  margin: 0px;
  margin: 0px;
  }
  



/* END HEADER */





/* HOME PAGE */


	
#main-content{

 /* background: url('../images/main_large.jpeg') no-repeat;*/
    background:LavenderBlush;
	padding: 2% 5% 2% 5%;
  width:90%;
  	box-shadow: 5px 5px 10px 0.1px LightSlateGrey;
}

#box-cerchio{
position:relative;
width:100%;
height: 30vw;
border-radius: 10%;
margin-bottom:10%;
margin-top:50%;
}


/*sections containers*/
#box{
	padding:0;
	margin:0;
	border:0;
	position:relative;
	left:2%;
}
	
	
	
	  #descr1 {

 	position:relative;
	 background: url('../images/health-food.jpeg') no-repeat center;
 background-size: cover;
       width:20vw;
      height: 15vw;
       border-radius: 10% 30% 10% 30%;
	margin: .1vw;
	font-size: 3vw; /* 1vw = 1% of viewport width */
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffe4c4;
	box-shadow: 5px 5px 10px 0.1px LightSlateGrey;

   }
   
   #descr2 {
	position:relative;
	 background: url('../images/Classes.jpeg') no-repeat center;
 background-size: cover;
       width:20vw;
      height: 15vw;
      border-radius: 10% 30% 10% 30%;
		margin: .1vw;
font-size: 3vw; /* 1vw = 1% of viewport width */
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffe4c4;
		box-shadow: 5px 5px 10px 0.1px LightSlateGrey;	
   }
   
   #descr3 {
	position:relative;
	 background: url('../images/blog.jpeg') no-repeat center;
 background-size: cover;
       width:20vw;
      height: 15vw;
      border-radius: 10% 30% 10% 30%;
	margin: .1vw;
	font-size: 3vw; /* 1vw = 1% of viewport width */
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffe4c4;
		box-shadow: 5px 5px 10px 0.1px LightSlateGrey;
}
   

   
    #descr1:hover, #descr1:focus, #descr2:hover, #descr2:focus,  #descr3:hover, #descr3:focus {
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  opacity: .8;
  background-position: center;
  border-radius: 20% 60% 20% 60%;
  position: relative;
}

	


   #menu-list p {
    margin:0;
	padding:0;
  }

#menu-list {
font-family: 'Gentium Basic', serif;
  width:90%;
  position:relative;
  left:10%;
 /* background: #FFF0F5; */
  margin:0;
  padding:10px;
  }
  
  
	 a {
  	color:#222;
}

	 a:hover, a:focus {
  text-decoration: none;
  	color:#61122f;
}


/*sections text and desctiption*/
	  #descr1 a, #descr2 a, #descr3 a{
 	position:relative;
	bottom:-100%;
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
	font-weight: 700;
   }
   /*end sections text and desctiption*/



/*wave shape*/
svg {
  display: inline-block;
  position: relative;
  top: -30%;
   left: 0px;
  
  }
.container {
  display: inline-block;
  position: relative;
  margin-top:1vw;
  margin-bottom:10px;
  padding:0;
   width: 90%;
  vertical-align: middle;
  overflow: hidden;
  height: 30vw;
  background: url('../images/Strang.jpg')  center no-repeat;
  -webkit-background-size: cover;


}

#container-shape{
margin-top:5%;
border:0;
padding:0;

}
/* end wave shape*/


/*wave shape*/

.container-shape-end{
  display: inline-block;
  position: relative;
  top:30px;
  margin:0;
  padding:0;
   width: 90%;
  vertical-align: middle;
  height:100px;


}
/* end wave shape*/

/* evidenzia posizione menu */ 
  
   #selector-home  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
     #selector-blog  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
     #selector-calendar  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
     #selector-contacts  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
  
         #selector-home a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
         #selector-blog a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
         #selector-calendar a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
       #selector-contacts a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
  

  
  /* evidenzia posizione menu */ 

/* END HOME PAGE */

/* FOOTER */

	#footer {
		position: relative;
 /* background: url('../images/main_large.jpeg') no-repeat;*/
      border-radius: 10% 10% 10% 10%;
  font-size: 2vw;
  color: #61122f;
	}
	
	    #github,  #linkedin {
  color:#61122f;
    font-size: 2vw;
}

/* PROVA FLOATING OBJECT
@keyframes example {
  0%   {background-color:red; left:20px; top:0px;}
  25%  {background-color:yellow; left:90%; top:0px;}
  50%  {background-color:blue; left:90%; top:20px;}
  75%  {background-color:green; left:20px; top:20px;}
  100% {background-color:red; left:20px; top:0px;}
}

#prova {
  width: 5vw;
  height: 5vw;
  position: relative;
  animation: example 5s linear 1s infinite alternate;
}*/


/* END FOOTER */









