body {
    background-color:  #61122f;
	font-family: 'Gentium Basic', serif;
  text-align: center;
}

/** HEADER **/
#title {
	font-family: 'Gentium Basic', serif;
  background-color: #FFFFF0;
  width:90%;
  height: auto;
  margin: auto, 0, auto, 0;
  color: #61122f;
  padding:0px;
  }

 
  
  #sections {

  background-color: #FFFFF0;
  width:100%;
  padding:0;
  height: 30vw;
 
 
}

 
h1 { /* Site name */
	font-family: 'Gentium Basic', serif;
  color: #DABDAB;
  text-transform: uppercase;
  text-shadow: .2vw .2vw .2vw #222;
  margin-top: 3vw;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
   padding-top: 10px;
   font-size: 8vw; /* 1vw = 1% of viewport width */
  }
  
  #title p > span{
  border: 0;
  padding:0;
   font-size: 3vw;
        -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-out;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease-out;
          transition-delay: 0s;
		  text-align: center;
	     text-shadow: .1vw .1vw .1vw #222;	
    height:1px;
}

  
  h2 { /* menu */
	font-family: 'Gentium Basic', serif;
  color: #DABDAB;
  font-size: 5vw;
  text-shadow: .1vw .1vw .1vw #222;
  margin: 0px, 0px, 0px, 0px ;
  padding:0px, 0px, 0px, 0px;
  }
  
  
  
    #instagram, #facebook, #twitter {
  font-size: 15px;
    color:#61122f;
	margin-left:10px;
}



  
  

#header-nav {
	background-color:#FFFFF0;
	margin:0;
	padding:0;
	
}


 #collapsable-nav a{ /* Collapsed nav menu text */
    font-size: 1vw;
	width:100%;

	margin:0;
	padding:0;
  }
  
  #collapsable-nav a:hover{ /* Collapsed nav menu text */
  	width:100%;
	background-color:#61122f;
  }
  
  #nav-list a{
	font-family: 'Gentium Basic', serif;
  color: #DABDAB;
  font-size: 4vw;
  text-shadow: .1vw .1vw .1vw #222;
  padding: 5px;
  }

  
  



.navbar-toggle {
    position: relative;
	bottom: 4%;
    left: 1%;
    background-color: #FFFFF0;
    background-image: none;
    border-radius: 10px;
	padding: 2%;
}

.navbar-toggle .icon-bar {
  display: list;
  width: 20px;
  height: 1px;
  border-radius: 1px;
  padding:0;
  border:0;
}

.navbar-toggle:hover {
 background-color: #61122f;
}


.navbar-toggle span{
	height: 1px;
}

.navbar {
	height: 1px;
	margin-bottom:0px;
	border:0px;
}

hr{
	margin: 0px;
	padding: 0px;
	background-color:#61122f;
	height:1px;
	width: 100%;
	position: absolute;
	left:0%;
}

#divider{
	color: #61122f;
	  font-size: 1.2vw;
}

  h3 { /* menu */
	font-family: 'Gentium Basic', serif;
 
  font-size: 2vw;
  font-weight: bold;
  margin: 0px;
  margin: 0px;
  }


/* END HEADER */





/* HOME PAGE */



	
#main-content{

 /* background: url('../images/main_large.jpeg') no-repeat;*/
    background:#FFFFF0;
	padding: 2% 5% 2% 5%;
  width:90%;

}

#box-cerchio{
position:relative;
background: url('../images/Strang.jpg') center;
background-size: cover;
width:100%;
height: 30vw;
border-radius: 10%;
margin-bottom:10%;
}
	
	
	
	  #descr1 {

 	position:relative;
	 background: url('../images/health-food.jpeg') no-repeat center;
 background-size: cover;
       width:20vw;
      height: 15vw;
       border-radius: 10% 30% 10% 30%;
	margin: .1vw;
	font-size: 3vw; /* 1vw = 1% of viewport width */
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffe4c4;

   }
   
   #descr2 {
	position:relative;
	 background: url('../images/Classes.jpeg') no-repeat center;
 background-size: cover;
       width:20vw;
      height: 15vw;
      border-radius: 10% 30% 10% 30%;
		margin: .1vw;
font-size: 3vw; /* 1vw = 1% of viewport width */
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffe4c4;
	
   }
   
   #descr3 {
	position:relative;
	 background: url('../images/blog.jpeg') no-repeat center;
 background-size: cover;
       width:20vw;
      height: 15vw;
      border-radius: 10% 30% 10% 30%;
	margin: .1vw;
	font-size: 3vw; /* 1vw = 1% of viewport width */
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffe4c4;
}
   

   
    #descr1:hover, #descr1:focus, #descr2:hover, #descr2:focus,  #descr3:hover, #descr3:focus {
          -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
  opacity: .8;
  background-position: center;
  border-radius: 20% 60% 20% 60%;
  position: relative;
}

	


   #menu-list p {
    margin:0;
	padding:0;
  }

#menu-list {
font-family: 'Gentium Basic', serif;
  width:90%;
  position:relative;
  left:10%;
 /* background: #FFF0F5; */
  margin:0;
  padding:10px;
  }
  
  
	 a {
  	color:#222;
}

	 a:hover, a:focus {
  text-decoration: none;
  	color:#61122f;
}

	  #descr1 a, #descr2 a, #descr3 a{
 	position:relative;
	bottom:-100%;

   }


svg {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;

}
.container {
  display: inline-block;
  position: relative;
  margin:0;
  padding:0;
   width: 90%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}


/* END HOME PAGE */

/* FOOTER */

	#footer {
		position: relative;
 /* background: url('../images/main_large.jpeg') no-repeat;*/
      border-radius: 10% 10% 10% 10%;
  font-size: 2vw;
  color: #FFFFF0;
	}
	
	    #github,  #linkedin {
  color:#FFFFF0;
}

/* END FOOTER */









